<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="file" fileName="/data/log/ct-web/ct-web.log" append="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p (%F:%L) - %m%n" />
    </File>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p (%F:%L) - %m%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.xjd" level="${log4j2.level}" />
    <Root level="info">
      <AppenderRef ref="${log4j2.logger}" />
    </Root>
  </Loggers>
</Configuration>