<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>angularjs demo</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body>
<div class="container" data-ng-app="app" data-ng-controller="ctrl">
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="name"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="addName()">提交</button>
                </span>
            </div>
            <h4 ng-if="names.length > 0">列表</h4>
            <ul class="list-group">
                <li ng-repeat="item in names track by $index" ng-cloak class="ng-cloak list-group-item">
                    {{item}}
                    <a class="btn btn-default" ng-click="names.splice($index,1)">删除</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<script src="../js/jquery.min.js"></script>-->
<!--<script src="../js/bootstrap.min.js"></script>-->
<script src="../js/angular.min.js"></script>
<script>
    angular.module("app", []).controller("ctrl", function ($scope) {
        $scope.names = [];
        $scope.addName = function () {
            $scope.names.push($scope.name);
        }
    });
</script>
</body>
</html>