<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjd.ct.dal.map.SequenceDoMapper" >
  <resultMap id="BaseResultMap" type="com.xjd.ct.dal.dos.SequenceDo" >
    <id column="SEQ_NAME" property="seqName" jdbcType="VARCHAR" />
    <result column="CURVAL" property="curval" jdbcType="BIGINT" />
    <result column="INCREMENT" property="increment" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SEQ_NAME, CURVAL, INCREMENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjd.ct.dal.dos.SequenceDoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sequence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlPageSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sequence
    where SEQ_NAME = #{seqName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sequence
    where SEQ_NAME = #{seqName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjd.ct.dal.dos.SequenceDoExample" >
    delete from t_sequence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjd.ct.dal.dos.SequenceDo" >
    insert into t_sequence (SEQ_NAME, CURVAL, INCREMENT
      )
    values (#{seqName,jdbcType=VARCHAR}, #{curval,jdbcType=BIGINT}, #{increment,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xjd.ct.dal.dos.SequenceDo" >
    insert into t_sequence
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqName != null" >
        SEQ_NAME,
      </if>
      <if test="curval != null" >
        CURVAL,
      </if>
      <if test="increment != null" >
        INCREMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqName != null" >
        #{seqName,jdbcType=VARCHAR},
      </if>
      <if test="curval != null" >
        #{curval,jdbcType=BIGINT},
      </if>
      <if test="increment != null" >
        #{increment,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjd.ct.dal.dos.SequenceDoExample" resultType="java.lang.Integer" >
    select count(*) from t_sequence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sequence
    <set >
      <if test="record.seqName != null" >
        SEQ_NAME = #{record.seqName,jdbcType=VARCHAR},
      </if>
      <if test="record.curval != null" >
        CURVAL = #{record.curval,jdbcType=BIGINT},
      </if>
      <if test="record.increment != null" >
        INCREMENT = #{record.increment,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sequence
    set SEQ_NAME = #{record.seqName,jdbcType=VARCHAR},
      CURVAL = #{record.curval,jdbcType=BIGINT},
      INCREMENT = #{record.increment,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjd.ct.dal.dos.SequenceDo" >
    update t_sequence
    <set >
      <if test="curval != null" >
        CURVAL = #{curval,jdbcType=BIGINT},
      </if>
      <if test="increment != null" >
        INCREMENT = #{increment,jdbcType=SMALLINT},
      </if>
    </set>
    where SEQ_NAME = #{seqName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjd.ct.dal.dos.SequenceDo" >
    update t_sequence
    set CURVAL = #{curval,jdbcType=BIGINT},
      INCREMENT = #{increment,jdbcType=SMALLINT}
    where SEQ_NAME = #{seqName,jdbcType=VARCHAR}
  </update>
  <sql id="MysqlPageSuffix" >
    <if test="page != null" >
      <![CDATA[ limit #{page.offset}, #{page.limit} ]]>
    </if>
  </sql>
</mapper>