<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjd.ct.dal.map.SignDoMapper" >
  <resultMap id="BaseResultMap" type="com.xjd.ct.dal.dos.SignDo" >
    <id column="SIGN_ID" property="signId" jdbcType="BIGINT" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="PONT" property="pont" jdbcType="INTEGER" />
    <result column="ADD_TIME" property="addTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SIGN_ID, USER_ID, PONT, ADD_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjd.ct.dal.dos.SignDoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_SIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlPageSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_SIGN
    where SIGN_ID = #{signId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_SIGN
    where SIGN_ID = #{signId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjd.ct.dal.dos.SignDoExample" >
    delete from T_SIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjd.ct.dal.dos.SignDo" >
    insert into T_SIGN (SIGN_ID, USER_ID, PONT, 
      ADD_TIME)
    values (#{signId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{pont,jdbcType=INTEGER}, 
      #{addTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xjd.ct.dal.dos.SignDo" >
    insert into T_SIGN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="signId != null" >
        SIGN_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="pont != null" >
        PONT,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="signId != null" >
        #{signId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="pont != null" >
        #{pont,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjd.ct.dal.dos.SignDoExample" resultType="java.lang.Integer" >
    select count(*) from T_SIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_SIGN
    <set >
      <if test="record.signId != null" >
        SIGN_ID = #{record.signId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.pont != null" >
        PONT = #{record.pont,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        ADD_TIME = #{record.addTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_SIGN
    set SIGN_ID = #{record.signId,jdbcType=BIGINT},
      USER_ID = #{record.userId,jdbcType=BIGINT},
      PONT = #{record.pont,jdbcType=INTEGER},
      ADD_TIME = #{record.addTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjd.ct.dal.dos.SignDo" >
    update T_SIGN
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="pont != null" >
        PONT = #{pont,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=BIGINT},
      </if>
    </set>
    where SIGN_ID = #{signId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjd.ct.dal.dos.SignDo" >
    update T_SIGN
    set USER_ID = #{userId,jdbcType=BIGINT},
      PONT = #{pont,jdbcType=INTEGER},
      ADD_TIME = #{addTime,jdbcType=BIGINT}
    where SIGN_ID = #{signId,jdbcType=BIGINT}
  </update>
  <sql id="MysqlPageSuffix" >
    <if test="page != null" >
      <![CDATA[ limit #{page.offset}, #{page.limit} ]]>
    </if>
  </sql>
</mapper>