<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjd.ct.dal.map.UserSubscribeDoMapper" >
  <resultMap id="BaseResultMap" type="com.xjd.ct.dal.dos.UserSubscribeDo" >
    <id column="USER_ID" property="userId" jdbcType="BIGINT" />
    <id column="SUBSCRIBE_ID" property="subscribeId" jdbcType="BIGINT" />
    <result column="ADD_TIME" property="addTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_ID, SUBSCRIBE_ID, ADD_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjd.ct.dal.dos.UserSubscribeDoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_subscribe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlPageSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.xjd.ct.dal.dos.UserSubscribeDoKey" >
    select 
    <include refid="Base_Column_List" />
    from t_user_subscribe
    where USER_ID = #{userId,jdbcType=BIGINT}
      and SUBSCRIBE_ID = #{subscribeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xjd.ct.dal.dos.UserSubscribeDoKey" >
    delete from t_user_subscribe
    where USER_ID = #{userId,jdbcType=BIGINT}
      and SUBSCRIBE_ID = #{subscribeId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjd.ct.dal.dos.UserSubscribeDoExample" >
    delete from t_user_subscribe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjd.ct.dal.dos.UserSubscribeDo" >
    insert into t_user_subscribe (USER_ID, SUBSCRIBE_ID, ADD_TIME
      )
    values (#{userId,jdbcType=BIGINT}, #{subscribeId,jdbcType=BIGINT}, #{addTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xjd.ct.dal.dos.UserSubscribeDo" >
    insert into t_user_subscribe
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="subscribeId != null" >
        SUBSCRIBE_ID,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="subscribeId != null" >
        #{subscribeId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjd.ct.dal.dos.UserSubscribeDoExample" resultType="java.lang.Integer" >
    select count(*) from t_user_subscribe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user_subscribe
    <set >
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.subscribeId != null" >
        SUBSCRIBE_ID = #{record.subscribeId,jdbcType=BIGINT},
      </if>
      <if test="record.addTime != null" >
        ADD_TIME = #{record.addTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user_subscribe
    set USER_ID = #{record.userId,jdbcType=BIGINT},
      SUBSCRIBE_ID = #{record.subscribeId,jdbcType=BIGINT},
      ADD_TIME = #{record.addTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjd.ct.dal.dos.UserSubscribeDo" >
    update t_user_subscribe
    <set >
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=BIGINT},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=BIGINT}
      and SUBSCRIBE_ID = #{subscribeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjd.ct.dal.dos.UserSubscribeDo" >
    update t_user_subscribe
    set ADD_TIME = #{addTime,jdbcType=BIGINT}
    where USER_ID = #{userId,jdbcType=BIGINT}
      and SUBSCRIBE_ID = #{subscribeId,jdbcType=BIGINT}
  </update>
  <sql id="MysqlPageSuffix" >
    <if test="page != null" >
      <![CDATA[ limit #{page.offset}, #{page.limit} ]]>
    </if>
  </sql>
</mapper>